/*清楚默认样式*/
body, html{
	padding: 0;
	margin: 0;
}


/*更改默认样式*/
body {
	font-family:"Microsoft YaHei";
	color: white;
	font-weight: 300;
}
body ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family:"Microsoft YaHei";
	color: white;
	font-weight: 300;
}
body :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family:"Microsoft YaHei";
	color: white;
	opacity: 1;
	font-weight: 300;
}
body ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family:"Microsoft YaHei";
	color: white;
	opacity: 1;
	font-weight: 300;
}
body :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family:"Microsoft YaHei";
	color: white;
	font-weight: 300;
}


/*对页面整体大小进行调整*/
body, html {
	height: 100%;
	overflow: hidden;
}
#container{
	height: 100%;
}


/*页面共分为两个屏幕，对两个屏幕进行样式基本设置*/
.page {
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}


/*第一屏，登录页面*/
.loginCont{/*登录页面内容盒子大小以及位置调整*/
	width: 360px;
	height: 330px;
	/*设置内容盒子居中显示*/
	position: absolute;
	margin: auto;
	top: 0;bottom: 0;left: 0;right: 0;
}
/*第二屏，注册页面*/
.registerCont{/*注册页面内容盒子大小以及位置调整*/
	width: 360px;
	height: 450px;

	/*设置内容盒子居中显示*/
	position: absolute;
	margin: auto;
	top: 0;bottom: 0;left: 0;right: 0;
}
.title{
	font-family: '楷体';
	font-weight: bold;
	font-size: 45px;
	text-align: center;
}
.user{/*用户名输入框单独样式设置*/
	margin-top: 15px;
	background: url(../icons/user.png) no-repeat 14px center;
}
.password{/*用户密码输入框单独样式设置*/
	margin-top: 95px;
	background: url(../icons/password.png) no-repeat 14px center;
}
.repassword{
	margin-top: 175px;
	background: url(../icons/password.png) no-repeat 14px center;
}
.submit1{
	display: block;
	width: 280px;
	height: 70px;

	outline: none;
	position: absolute;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 275px;
	
	color: white;
	font-weight: 300;
	font-size: 28px;
	font-family: "楷体";
	
	border:1px solid white;
	text-align: center;
	border-radius: 3px;
	background: #FF7900;
}
.submit2{
	display: block;
	width: 280px;
	height: 70px;

	outline: none;
	position: absolute;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 380px;
	
	color: white;
	font-weight: 300;
	font-size: 28px;
	font-family: "楷体";
	
	border:1px solid white;
	text-align: center;
	border-radius: 3px;
	background: #FF7900;
}
.input{/*Form表单输入框整体样式设置*/
	display: block;
	width: 250px;
	height: 35px;

	outline: 0;
	padding: 10px 15px;
	position: absolute;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
	
	color: white;
	font-weight: 300;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	
	text-align: center;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);

	-webkit-transition-duration: 0.25s;
		transition-duration: 0.25s;
}
.input:focus{
	background: white;
	color: #FF7900;
}

/*第二屏，注册页面*/
#register{/*页面整体颜色设置*/
	background-color: #f29c54;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f29c54), color-stop(100%, #DB4367));
	background-image: -webkit-linear-gradient(-315deg, #f29c54 0%, #DB4367 100%);
	background-image: -webkit-linear-gradient(45deg, #f29c54 0%, #DB4367 100%);
	background-image: linear-gradient(45deg,#f29c54 0%, #DB4367 100%);
}
.formOneVert{
	margin-top: 175px
}
.formTwoName{
	margin-top: 15px
}
.formTwophone{
	margin-top: 155px
}
.formTwoUser{
	margin-top: 85px
}
.formTwoPassword{
	margin-top: 220px;
}
.formTwoRepassword{
	margin-top: 290px;
}
.ident{
	margin-top: 200px
}
#verty{
	border: 1px solid;
	width: 120px;
	height: 40px;
	position: relative;
	top: 180px;	
	left: 350px;
}